.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar a{
  color:black ;
  font-weight: bold;
  text-transform: uppercase;
}
/*============================
        Hero-section
==============================*/
#hero-section{
  background-color: #495E57;
}
#hero-section h1{
  color:#F4CE14 ;
}
#hero-section h6{
  color:#f4f4f4;
  padding: 10px 0px 10px;
  font-size: x-large;
}
#hero-section p{
  color:#f4f4f4 ;
}
#hero-section .btn{
  background-color: #F4CE14;
  border-color:#F4CE14 ;
  color:black;
  font-weight: bold;
}

#hero-section img{
  border-radius: 19px;
  height: 350px;
  overflow: hidden;
  z-index: 2;
}

/*============================
        High-lights
==============================*/
#high-lights .btn{
  background-color: #F4CE14;
  border-color:#F4CE14 ;
  color:black;
  font-weight: bold;
}

#high-lights .card{
  background-color: #A9C9BE;
}
#high-lights img{
  width: auto;
  height: 300px;
  object-fit: cover;
}

/*============================
        Testimonials
==============================*/
#testimonials {
  background-color: #EDEFEE;
}
#testimonials .card{
  background-color: #ffffff;
}
/*============================
            About
==============================*/
#about .card{
  background-color: #EDEFEE;
}
#about img{
  width: auto;
  height: 300px;
  object-fit: cover;
}
/*============================
            Footer
==============================*/
footer {
  background-color: #A9C9BE;
}
footer p{
  color: #333333;
}
footer  ul li a{
  color: #333333;
}
footer h5{
  color: #333333;
}