.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  margin: 0%;
  padding: 0%;
}
main{
  margin-top: 88px;
}
/*============================
        Navbar
==============================*/
#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10001;
  width: 100%;
  background-color: #FFFFFF;
}
.navbar a{
  color:black ;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar a:hover{
  color:#495E57 ;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
nav{
  z-index: 10001;
  position: inherit;

}

nav ul li {
  display: inline-block;
  padding: 1em;
  border-radius: 8px;
}

nav ul li a{
  color: #000;
}

nav li:hover{
  background-color: #000;
  color: #ffffff;
}
nav li:hover a{
  color: #ffffff;
}


.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

@media screen and (max-width:1000px){
  .nav-menu{
    background-color: #000;
    height: auto;
  }
  .nav-links.visible {
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    height: 1000px;
    transition: all 0.3s ease-in-out;
  }
  .nav-links.visible ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-menu{
    background-color: #495E57;
    height: auto;
  }
  .navbar a{
    color:rgb(251, 241, 241) ;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
  #nav  {
    margin:0px;
    padding: 0%;
    min-width: 100%;
  }
  #nav a ,.menu-icon{
    margin:0px;
    padding: 12px;
  }
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    background: #495E57;
    z-index: 1000;
    padding: 20px 0;
  }

  .navbar{
    background:#fff;
    padding: 10px 8%;
  }

  nav .nav-menu ul li a{
    color: #fff;
  }

  .bar{
    background: #495E57 ;
  }

  .banner-img{
    display: none;
  }

  form, .comfirm{
    padding: 10px 8%;
  }


  .header section, .menu-container{
    padding: 10px 8%;
  }
  .menu-container{
    margin: 20px 0;
  }
  .menu-header{
    justify-content: flex-start;
  }

  .menu-items{
    width: 100%;
  }

  footer section{
    padding: 10px 8%;
    flex-direction: column;
  }
  .company-info p{
    width: 100%;
  }
}

.hidden{
  display: none;
}
/*============================
        Hero-section
==============================*/
#hero-section{
  background-color: #495E57;
}
#hero-section h1{
  color:#F4CE14 ;
}
#hero-section h6{
  color:#f4f4f4;
  padding: 10px 0px 10px;
  font-size: x-large;
}
#hero-section p{
  color:#f4f4f4 ;
}
#hero-section .btn{
  background-color: #F4CE14;
  border-color:#F4CE14 ;
  color:black;
  font-weight: bold;
}
#hero-section .btn:hover{
  background-color: #ffde39;
  border-color:#ffde39 ;
  cursor: pointer;
}


#hero-section img{
  border-radius: 8px;
  height: 350px;
  width: auto;
  overflow: hidden;
  z-index: 2;
}

#hero-section img:hover{
  transition: transform 0.9s ease;
  transform: scale(1.05);
}
/*============================
        High-lights
==============================*/
#high-lights .btn{
  background-color: #F4CE14;
  border-color:#F4CE14 ;
  color:black;
  font-weight: bold;
}
#high-lights .btn:hover{
  background-color: #ffde39;
  border-color:#ffde39 ;
  cursor: pointer;
}

#high-lights .card{
  background-color: #A9C9BE;
}
#high-lights .card:hover{
  transition: transform 0.9s ease;
  transform: scale(1.05);
}
#high-lights img{
  width: auto;
  height: 300px;
  object-fit: cover;
}

/*============================
        Testimonials
==============================*/
#testimonials {
  background-color: #EDEFEE;
}
#testimonials .card{
  background-color: #ffffff;
}
#testimonials .card:hover{
  background-color: #ffffff;
  cursor: pointer;
  transition: transform 0.9s ease;
  transform: scale(1.05);
}
#testimonials img {
  width: auto;
  height: 300px;
  object-fit: fill;
}

/*============================
            About
==============================*/
#about {
  position: relative;
  width: 100%;
  height: 60vh; /* Set the height as needed */
}

#about  p{
  padding: 10px 0px 10px 0px;
}

.image-container {
  position: relative;
  width: 100%;
}

/* Style for each image */
.image-container img {
  position:absolute;
  max-width: 80%;
  height: auto;
  display: block;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0 auto;
}
.first-image {
  transform: translate(0px, 80px);
}

.first-image:hover {
  cursor: pointer;
  z-index: 3;
}
.second-image {
  z-index: 2;
  cursor: pointer;
  transform: translate(120px, -80px);
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
  #about {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .image-container {
    height: auto;
    padding: 20px 0px 20px 0px;
    max-width: 100%; /* Full width for smaller screens */
  }
}

/*============================
            Footer
==============================*/
footer {
  background-color: #A9C9BE;
}
footer p{
  color: #333333;
}
footer  ul li a{
  color: #333333;
}
footer h5{
  color: #333333;
}